@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import "../variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: $dark-color;
}
a {
  text-decoration: none !important;
}
span {
  font-weight: 600;
  padding: 7px;
  border-radius: 8px;
  color: #ffff;
}
.alive {
  background-color: green;
}
.unknown {
  background-color: $dark-color;
}
.dead {
  background-color: red;
}
.human::before {
  content: "👤 ";
}
.alien::before {
  content: "👾 ";
}
.male::before {
  content: "♂ ";
}
.female::before {
  content: "♀ ";
}
