@import "../variables";

.section {
  display: flex;
  justify-content: center;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 60px 0;
    padding: 15px 30px;
    background-color: $seccond-color;
    border-radius: 8px;
    box-shadow: 0px 2px 9px #2b2b2b;
  }

  .title {
    color: #f1f1f1;
    font-size: 22px;
    font-weight: 500;
  }
  .github-icon {
    color: $dark-color;
    font-size: 30px;
  }
  input[type="text"] {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
  }
}

@media only screen and (max-width: 620px) {
  .header {
    flex-direction: column;
    gap: 15px;
  }
}
